.vs/
MainProgram/obj/project.assets.json
MainProgram/obj/MainProgram.csproj.nuget.g.targets
MainProgram/obj/MainProgram.csproj.nuget.g.props
MainProgram/obj/MainProgram.csproj.nuget.cache
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.pdb
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.dll
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.csprojResolveAssemblyReference.cache
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.csproj.FileListAbsolute.txt
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.csproj.CoreCompileInputs.cache
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.AssemblyInfoInputs.cache
MainProgram/obj/Debug/netcoreapp2.0/MainProgram.AssemblyInfo.cs
MainProgram/bin/Debug/netcoreapp2.0/MainProgram.runtimeconfig.json
MainProgram/bin/Debug/netcoreapp2.0/MainProgram.runtimeconfig.dev.json
MainProgram/bin/Debug/netcoreapp2.0/MainProgram.pdb
MainProgram/bin/Debug/netcoreapp2.0/MainProgram.dll
MainProgram/bin/Debug/netcoreapp2.0/MainProgram.deps.json
